body {
	font-family: 'Archivo', sans-serif;
	background: #FFF755;
	display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 24px;
}

h1 {
	font-size: 52px;
}

a:not(.arrow) {
	text-decoration: none;
	color: black;
	border-bottom: 3px #4787FD dotted;
}

button {
  border: none;
  background: white;
}

input {
	display: block;
}

.wrapper {
	display: flex;
	flex-direction: column;
	margin: 0 5%;
}

.header-section, .input-section {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header-section {
	flex-direction: column;
}

.awesomplete input {
	height: 60px;
	background: transparent;
	border: 3px dashed white;
  margin-left: 15px;
  padding: 5%;
}

#sentence-start {
	width: 150px;
}

.awesomplete > ul, .awesomplete input {
	font-size: 24px;
}

.footer-list {
	border: 6px dotted #4787FD;
  padding: 5%;
}

.footer-list li {
	padding: 10px;
}

.alert.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms;
}

.alert {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
  background: white;
  max-width: 50%;
  padding: 20px;
  position: absolute;
}

/** Hover.css http://ianlunn.github.io/Hover/ **/ 

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-wobble-horizontal:hover, .hvr-wobble-horizontal:focus, .hvr-wobble-horizontal:active {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
